@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.arrowu {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.arrowu svg {
  transition: color 300ms;
}

.arrowu svg:hover {
  color: #ce2dbe;
}

/* App.css */

/* ... (previous styles) */

.slide .upperdiv {
  border-radius: 12px;
}

/* ... (remaining styles) */

.gredientbut {
  background: linear-gradient(90deg, #EB00B7 0%, #7600EB 100%);
  transition: all 0.2s ease-in-out;
}
.gredientbut:hover{
  box-shadow: #ce2dbe 0px 0px 10px;
}

