
.footer--b{
    background-color: rgba(27, 30, 41, 1);
    padding-top: 40px;
    margin-top: 120px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.circle{
    background:linear-gradient(90deg, #6E3CD7 0%, #7800B0 90%);
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 100%;
    margin-left: 3.75vw;
    position: relative;
}

.footer {
    background-color: rgba(27, 30, 41, 1);
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 10%;
}

.footer-item {
    padding: 10px;
    background-color: rgba(27, 30, 41, 1);
    display: flex;
    flex-direction: column;
}

.footer-heading {
    margin-bottom: 5px;
    background-color: rgba(27, 30, 41, 1);
    color: #FFF;
    font-family: Inter;
    font-weight: 600;
}

.footer-links {
    /* list-style: none;
    padding: 0;
    margin: 0; */
    /* background-color: rgba(27, 30, 41, 1); */
}
.footer-l{
    background-color: rgba(27, 30, 41, 1);
}
.footer-a{
    background-color: rgba(27, 30, 41, 1);
    color: #4B5274;
    font-family: Inter;
    font-weight: 600;
}



.copy{
    color: #FFF;
    font-family: Inter;
    font-weight: 600;
    padding-bottom: 2%;
    padding-left: 4%;
    background-color: rgba(27, 30, 41, 1);
}
