.footer--b {
    background-color: rgba(27, 30, 41, 1);
}

.circle {
    background: linear-gradient(90deg, #6E3CD7 0%, #7800B0 90%);
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
}

.footer-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-heading {
    margin-bottom: 5px;
    color: #888;
    font-weight: 600;
    font-size: 18px;
}

.footer-a {
    color: #cbcbcb;
    font-weight: 500;
    font-size: 16px;
}

.footer-a:hover {
    color: #fff;
}

.copy {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}